*{
	padding: 0px;
	margin: 0px;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} 

#user_message{
	list-style: none;
	margin-top: 10px;
}
#user_message li{
	border-bottom: 1px solid #D4D4D4;
	padding-bottom: 5px;
}

#users{
	margin-top: 8px;
}